.wordbox {
    display: flex;
    justify-content: center;
    width: 100%;
}

.wordbox2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 100%;
}

main{
    margin: 0 15vw 0 15vw;
    margin-top: 56px;
}

.kep img{
}

.kep2 img{
}

.kep {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.kep2 {
    width: 50%;
    display: flex;
    justify-content: flex-end;}

.wordbox img {
    width: 380px;
    height: 380px;
}

.szoveges {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 10px 15px #d4d4d4;
    padding: 15px;
    z-index: 10;
    width: 40%;
}

.wordboxContainer {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

h1 {
    text-align: center;
    width: 100%;
}

.rizsa {
    font-size: larger;
}

p {
    font-family: Archivo-Light;
}

td{
    border: 1px solid black;
}

@media (max-width: 1200px) {
    .wordbox {
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .szoveges {
        width: 100%;
    }

    .kep {
        width: 100%;
        justify-content: center;
    }

    .kep img{
        width: 90%;
    }

    .kep2 {
        width: 100%;
        justify-content: center;
    }

    .kep2 img{
        width: 500px;
    }
}