.faq{
    margin-bottom: 10px;
}
.question {
    cursor: pointer;
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
}
.answer {
    display: none;
    padding: 10px;
    border: 1px solid #ddd;
    border-top: none;
}

.headerdiv{

    margin:0 10px 20vw 10px;
}