@import url('fonts/Archivo_Complete/Fonts/WEB/css/archivo.css');

:root {
    --ff: Archivo-Regular;
    --colorprimary: black;
    --colorsecondary: white;
    --coloraccent: #0b8bcc;
    --coloraccentshade: #7242d948;
    --h1: bold 54px/64px var(--ff);
    --h2: bold 36px/36px var(--ff);
    --h3: bold 24px/30px var(--ff);
    --links: bold 18px/18px var(--ff);
    --p: 18px/30px var(--ff);
    --subtext: 12px/20px var(--ff);
    --smalltext: bold 20px/26px var(--ff);
    --transition: 0.3s ease-in-out;
    --shadow: #00000030 0px 0px 10px 0px;
    --shadowdark: #00000030 0px 5px 10px
}

.hidden{
    display: none;
}


html{
    scroll-behavior: smooth;
}

body {
    font-family: var(--ff);
    background-color: #eeeeee;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font: var(--h1);
    margin-top: 8px;
}

h2 {
    font: var(--h2);
    margin-top: 8px;
}

h3 {
    font: var(--h3);
    margin-top: 8px;
}

p {
    font: var(--p);
    margin-top: 8px;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 350    ;
    font-style: normal;
  }

/* off screen menu */
.off-screen-menu{
    background-color:  #15181c;
    color: var(--colorsecondary);
    height: 100%;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    left: -450px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
    justify-content: flex-start;
    font-size: 1rem;
    transition: .3s ease;
}
.off-screen-menu.active{
    left: 0;
    z-index: 10;
}

html.active{
    overflow-y: hidden; 
}



.body.active{
    overflow-y: hidden; 
}

.off-screen-menu ul{
    list-style: none;
    padding-left: 16px;

}

.off-screen-menu li{
    padding-top: 30px;
}

.off-screen-menu a{
    text-decoration: none;
    font-size: 2rem;
}

.off-screen-menu a:visited{
    color: var(--colorsecondary);
}

.off-screen-buttons{
    position: relative;
    width: 95%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;    
    font-size: 1rem;
    padding-top: 8px;
    z-index: 1;
}

.off-screen-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50%;
}

.off-screen-container a{
    color: var(--colorsecondary);
}

.off-screen-overlay{
    position: fixed;
    background-color: #15181c50;
    inset: 0;
    z-index: 9;
    display: none;
}

.off-screen-menu.active ~ .off-screen-overlay{
    display: block;
}

/* ham menu */
.ham-menu{
    height: 50px;
    width: 40px;
    position: relative;
}
.ham-menu span{
    height: 5px;
    width: 100%;
    background-color: var(--colorprimary);
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
    z-index: 10;
}
.ham-menu span:nth-child(1){
    top: 25%;
}
.ham-menu span:nth-child(3){
    top: 75%;
}

.ham-menu.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2){
    opacity: 0;
}
.ham-menu.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.ham-menu.active span {
    background-color: var(--colorsecondary);
}

.logoCon{
    display: flex;
    justify-content: space-between;
}


/* Header */

.headerContainer{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10vw;
}

.headerContainer a{
    width: 100%;
    text-align: center;
    font: var(--h1); 
}

/* nav */

.navbarcontainer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding-bottom: 50px;

}

.navbarelemek{
    width: 75%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    width: 100%;
    height: auto;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
}

nav a {
    font-size: 1.5rem;
    color: var(--colorprimary);
    font-weight: bold;
    text-decoration: none;
}

nav li {
    border-bottom: 0px solid var(--colorprimary);
}

#login {
    border: 2px solid var(--coloraccent);
    padding: 3px 50px;
    text-align: center;
    border-radius: 5px;
    transition: 0.2s;
}

#login:hover{ 
    transition: 0.2s;
    background-color: var(--coloraccentshade);
}

.nav-ham-menu{
    display: none;
    width: 40%;
    padding-left: 16px;

}

@media (max-width:904px){
    .hidden{
        display: block;
    }

    .navbar-menu{
        display: none;
    }

    .navbarelemek{
        display: none;
    }

    .nav-ham-menu{
        display: block;
        justify-self: flex-end;
    }

    .headerContainer{
        width: 100%;
        justify-self: center;
        margin-left: 0;
    }

    .headerContainer a{
        text-align: start;
    }




}
/* Main */

.mainSection{
    width: 100%;
    height: auto;
    margin-bottom: 25vh;
}

main {
    height: auto;
    margin: 0 15vw 50vh 15vw
}

.quizBtn{
    width: 100%;
    margin-top: 56px;
    display: flex;
    justify-content: center;
}

.quizBtn a{
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.quizBtn input{
    width: 100%;
    height: 50px;
    border: 1px solid var(--coloraccent);
    background: linear-gradient(90deg, var(--coloraccent), #0b8ccc81);
    color: var(--colorsecondary);
    font-size: 1.5rem;
    border-radius: 5px;
    transition: .3s;
}

.quizBtn input:hover{
    background-color: var(--coloraccent);
    transition: .3s;
}


.mainImgCover{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0000008c;
    z-index: 1;
}

.mainJoinDiv {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 56px;
}

.mainJoinDiv img{
    width: 100%;
    max-width: 1080px;
    height: auto;
    border-radius: 10px;
}

.mainCoverContainer{
    position: relative;
    display: grid;
    grid-template-rows: 50% 50%;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.mainCoverContainer div {
    display: flex;
    justify-content: flex-start;
    gap: 10vw;
    align-self: center;
}

.product {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3vw;
}


.water {
    width: 544px;
    height: 544px;
}

.productContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1288px;
}

.productContainerNNN{
    width: 100%;
    display: flex;
    justify-content: center;
}

.productLeiras{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20vh;
}

.productItems{
    display: block;
    width: 50%;
    height: auto;
    max-width: 536px;
}

.productItems img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 10px 15px #d4d4d4;
}

.spanImgArrow{
    width: 24px;
    height: 24px;
}

.spanImgArrow img{
    width: 24px;
    height: 24px;
    box-shadow: none;
}

.centerProduct{
    display: flex;
    flex-direction: row-reverse;
}

@media(max-width: 1555px){
    .productContainer{
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .productLeiras{
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .productItems{
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .productItems p{
        text-align: left;
    }

    .dropdownm, .toggle-container, .nutrition-info{
        width: 100%;
    }

    .centerProduct{
        display: grid;
        justify-content: center;
        align-items: center;
    }
}


.toggle-container {
    width: 90%;
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    padding: 10px 15px;
    cursor: pointer;
    justify-content: space-between;
    font-size: 16px;
  }

  .arrow{
    display: inline-block;
    transition: transform 0.3s ease;
    
  }

  .arrow.down {
    transform: rotate(180deg);
  }

  .nutrition-info {
    width: 90%;
    display: none;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #f9f9f9;
    /*max-width: 400px;*/
    font-size: 15px;
    transition: .3s;
  }

  .divider {
    border-top: 1px solid #ccc;
    margin: 10px 0;
  }

  .logo {
    width: 80px;
    height: 80px;
  }

.gridcontainer{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 20vw);
    grid-template-rows: repeat(2, 50%);
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-bottom: 40vh;
}

.gridcard{
    background-color: var(--coloraccent);
    border-radius: 15px;
    border: var(--coloraccent) 2px solid;
    height: 100%;
    width: 100%;
}

.gridcard h4{
    font-size: 2rem;
    margin: 10px 0px ;
    text-align: center;
}

.gridcard p{
    margin-bottom: 0;
    padding: 0 5px;
    text-align: center;
}

.gridcard:nth-child(2n+1) {
    background-color:#0b8ccc3d;
}

.gridcard:nth-child(2n+2) {
    color: #fff;
}
 
@media (max-width: 1050px){
    .gridcontainer{
        grid-template-columns: 100%;
        grid-template-rows: repeat(6, 16%);
        height: auto;
    }

    .gridcard{

    }
}


/* Footer */
.footer-section {
    padding-bottom: 8vh;
}

footer {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #858585;

}

footer ul {
    padding: 0;
}

footer h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffffd3;
    font-size: 1rem;
}

footer a:visited {
    color: #ffffffd3;
}

footer a {
    font-family: Archivo-Medium;
    font-size: 1rem;
    text-decoration: none;
}

footer a:hover {
    color: var(--coloraccent);
    text-decoration: underline;
}

.footer-list-container ul {
    list-style-type: none;
}

.footer-list-container li {
    margin-bottom: 8px;
}

.footer-list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5vw;
    border-top: 2px solid hwb(0 100% 0% / 0.827);
    padding-top: 20px;
}

.footer-logo{
    width: 100%;
    height: auto;
}

.footer-logo h2{
    margin: 0;
    margin-bottom: 20px;
    margin-top: 100px;
    color: var(--colorsecondary);
}

.main-footer-section {
    width: 90%;
    max-width: 1080px;
}

.footer-button-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid hwb(0 100% 0% / 0.827);
    padding-bottom: 8px;
    margin: 30px 0px;
}

.footer-button-container input {
    font-family: Archivo-SemiBold;
    font-size: 1.15rem;
    background: transparent;
    color: var(--coloraccent);
    border: 2px solid var(--coloraccent);
    border-radius: 5px;
    padding: 5px 30px;
    cursor: pointer;
}

.footer-button-container input:hover {
    background-color: #576fcf20;
}


.footer-section {
    display: flex;
    justify-content: space-between;
}


.footer-icon-container {
    display: flex;
    gap: 20px;
}

.footer-icon-container a {
    width: 24px;
    height: 24x;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 5px;
    border-radius: 5px;
    transition: 0.3s;
}

.footer-icon-container a:hover {
    transition: 0.3s;
    background-color: var(--coloraccent);


}

.footer-links-container {
    display: flex;
    gap: 20px;
}

@media (max-width: 549px) {


    .footer-links-container {
        display: grid;
        grid-auto-rows: 20px;
    }

    .footer-section {
        display: grid;
        gap: 20px;
    }

    .footer-button-container {
        display: grid;
        gap: 20px;
    }

    .footer-list-container {
        display: grid;
    }

}


 /* GYIK */


.faq{
    margin-bottom: 10px;
}
.question {
    cursor: pointer;
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
}
.answer {
    display: none;
    padding: 10px;
    border: 1px solid #ddd;
    border-top: none;
}

.headerdiv{

    margin:0 10px 20vw 10px;
}