@import url('fonts/Archivo_Complete/Fonts/WEB/css/archivo.css');

:root {
    --ff: Archivo-Regular;
    --colorprimary: black;
    --colorsecondary: white;
    --coloraccent: #13a1c5;
    --coloraccentshade: #7242d948;
    --h1: bold 54px/64px var(--ff);
    --h2: bold 36px/36px var(--ff);
    --h3: bold 24px/30px var(--ff);
    --links: bold 18px/18px var(--ff);
    --p: 18px/30px var(--ff);
    --subtext: 12px/20px var(--ff);
    --smalltext: bold 20px/26px var(--ff);
    --transition: 0.3s ease-in-out;
    --shadow: #00000030 0px 0px 10px 0px;
    --shadowdark: #00000030 0px 5px 10px
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: var(--ff);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font: var(--h1);
    margin-top: 8px;
}

h2 {
    font: var(--h2);
    margin-top: 8px;
}

h3 {
    font: var(--h3);
    margin-top: 8px;
}

p {
    font: var(--p);
    margin-top: 8px;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 350    ;
    font-style: normal;
  }

/* Header */

.headerContainer{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10vw;
}

.headerContainer a{
    text-align: center;
    font: var(--h1); 
}

/* nav */

.navbarcontainer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;

}

.navbarelemek{
    width: 75%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    width: 100%;
    height: auto;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
}

nav a {
    font-size: 1.5rem;
    color: var(--colorprimary);
    font-weight: bold;
    text-decoration: none;
}

nav li {
    border-bottom: 0px solid var(--colorprimary);
}

#login {
    border: 2px solid var(--coloraccent);
    padding: 3px 50px;
    text-align: center;
    border-radius: 5px;
    transition: 0.2s;
}

#login:hover{ 
    transition: 0.2s;
    background-color: var(--coloraccentshade);
}

@media (max-width:970px) {
    
}

/* Main */

.mainSection{
    width: 100%;
    height: auto;
    margin-bottom: 40vh;
}

main {
    height: auto;
    margin: 0 15vw 50vh 15vw
}

.mainImgCover{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0000008c;
    z-index: 1;
}

.mainJoinDiv {
    position: relative;
    width: 860px;
    height: 573px;
    background-image: url(img/icons/mainJoinBackground.png);
    background-size: 100% 100%;                
    background-repeat: no-repeat;
    background-position: center center;
}
.mainCoverContainer{
    position: relative;
    display: grid;
    grid-template-rows: 50% 50%;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.mainCoverContainer div {
    display: flex;
    justify-content: flex-start;
    gap: 10vw;
    align-self: center;
}

.mainJoinDiv span{
    position: relative;
    font-size: 5rem;
    font-weight: bold;
    z-index: 10;
    color: var(--colorsecondary);
    margin-top: 5vh;
    margin-left: 5vw;
}

.mainJoinDiv label{
    color: var(--coloraccent);
    background-color: #000000bb;
    border-radius: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.mainJoinDiv h1 {
    color: var(--colorsecondary);
    margin-left: 5vw;
}

.mainJoinDiv input[type="button"] {
    font-size: 2.7rem;
    font-weight: bold;
    background-color: transparent;
    color: var(--colorsecondary);
    border: 6px solid var(--coloraccent);
    width: 15vw;
    height: 5vh;
    border-radius: 5px;
    margin-right: 5vw;
    transition: .2s;
}

.mainJoinDiv input[type="button"]:hover {
    transition: .2s;
    background-color: #0000006b;
    scale: 1.05;
}

.product {
    text-align: center;
}

.imgcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.water {
    width: 544px;
    height: 544px;
}

.productContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    
}

.productLeiras{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20vh;
}

.productItems{
    display: block;
    width: 50%;
    height: auto;
    max-width: 536px;
}

.productItems img{
    width: 100%;
    height: auto;
}

@media(max-width: 1070px){
    .productContainer{
        display: grid;
    }

    .productLeiras{
        display: grid;
    }

    .productItems{
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .dropdown, .toggle-container{
        width: 100%;
    }
}

.toggle-container {
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    padding: 10px 15px;
    cursor: pointer;
    justify-content: space-between;
    font-size: 16px;
  }

  .arrow {
    display: inline-block;
    transition: transform 0.3s ease;
  }

  .arrow.down {
    transform: rotate(180deg);
  }

  .nutrition-info {
    display: none;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #f9f9f9;
    max-width: 400px;
    font-size: 15px;
  }

  .divider {
    border-top: 1px solid #ccc;
    margin: 10px 0;
  }

  .logo {
    width: 40px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: top;
  }

.gridcontainer{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 20vw);
    grid-template-rows: repeat(2, 50%);
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-bottom: 40vh;
}

.gridcard{
    background-color: var(--coloraccent);
    border-radius: 15px;
    border: var(--coloraccent) 2px solid;
    height: 100%;
    width: 100%;
}

.gridcard h4{
    font-size: 2rem;
    margin: 10px 0px ;
    text-align: center;
}

.gridcard p{
    margin-bottom: 0;
    padding: 0 5px;
    text-align: center;
}

.gridcard:nth-child(2n+1) {
    background-color:#13a1c588;
}

.gridcard:nth-child(2n+2) {
    color: #fff;
}
 
@media (max-width: 1050px){
    .gridcontainer{
        grid-template-columns: 100%;
        grid-template-rows: repeat(6, 16%);
        border: 2px solid red;
        height: auto;
    }

    .gridcard{

    }
}


/* Footer */
.footer-section {
    padding-bottom: 8vh;
}

footer {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #858585;

}

footer ul {
    padding: 0;
}

footer h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffffd3;
    font-size: 1rem;
}

footer a:visited {
    color: #ffffffd3;
}

footer a {
    font-family: Archivo-Medium;
    font-size: 1rem;
    text-decoration: none;
}

footer a:hover {
    color: var(--coloraccent);
    text-decoration: underline;
}

.footer-list-container ul {
    list-style-type: none;
}

.footer-list-container li {
    margin-bottom: 8px;
}

.footer-list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5vw;
    border-top: 2px solid hwb(0 100% 0% / 0.827);
    padding-top: 20px;
}

.footer-logo{
    width: 100%;
    height: auto;
}

.footer-logo h2{
    margin: 0;
    margin-bottom: 20px;
    margin-top: 100px;
    color: var(--colorsecondary);
}

.main-footer-section {
    width: 90%;
    max-width: 1080px;
}

.footer-button-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid hwb(0 100% 0% / 0.827);
    padding-bottom: 8px;
    margin: 30px 0px;
}

.footer-button-container input {
    font-family: Archivo-SemiBold;
    font-size: 1.15rem;
    background: transparent;
    color: var(--coloraccent);
    border: 2px solid var(--coloraccent);
    border-radius: 5px;
    padding: 5px 30px;
    cursor: pointer;
}

.footer-button-container input:hover {
    background-color: #576fcf20;
}


.footer-section {
    display: flex;
    justify-content: space-between;
}


.footer-icon-container {
    display: flex;
    gap: 20px;
}

.footer-icon-container a {
    width: 24px;
    height: 24x;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 5px;
    border-radius: 5px;
    transition: 0.3s;
}

.footer-icon-container a:hover {
    transition: 0.3s;
    background-color: var(--coloraccent);


}

.footer-links-container {
    display: flex;
    gap: 20px;
}

@media (max-width: 549px) {


    .footer-links-container {
        display: grid;
        grid-auto-rows: 20px;
    }

    .footer-section {
        display: grid;
        gap: 20px;
    }

    .footer-button-container {
        display: grid;
        gap: 20px;
    }

    .footer-list-container {
        display: grid;
    }

}


 /* GYIK */


.faq{
    margin-bottom: 10px;
}
.question {
    cursor: pointer;
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
}
.answer {
    display: none;
    padding: 10px;
    border: 1px solid #ddd;
    border-top: none;
}

.headerdiv{

    margin:0 10px 20vw 10px;
}