body main h1{
text-align: center;

}

.terkoz{
margin-bottom: 0 ;
margin-top: 0;
}

.video{
    width: 100%;
    height: auto;
    max-width: 500px;
    max-height: 600px;
}

.video iframe{
    width: 100%;
    height: auto;
}

.galeria{
    width: 100%;
    max-width: 380px;
    height: 380px;
}


.galeria img{
    width: 100%;
    height: auto;
}