@import url('fonts/Archivo_Complete/Fonts/WEB/css/archivo.css');

.header{
    display: flex;
    justify-content: center;
    text-align: center;
}


.questionContainer{
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(9, 1fr);
    gap: 40px;
    counter-reset: section;
}

.question{
    width: 100%;
    height: auto;
    cursor: default;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
}

.question h2::before{
    counter-increment: section;
    content:counter(section) ". ";
}

.radioConatiner{
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 30px;
}

.radioConatiner label{
    font: var(--p);
    font-size: 1.5rem;
    margin-top: 8px;
    cursor: pointer;
}

.radioConatiner input[type="radio"]{
    cursor: pointer;
}

.SubmitBtn{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    
}

.SubmitBtn button{
    width: 50vw;
    height: 50px;
    max-width: 300px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: var(--coloraccent);
    font-size: 2rem;
    color: var(--colorsecondary);
    border-radius: 5px;
    border: 2px solid #000;
    transition: var(--transition);
}

.SubmitBtn button:hover{
    scale: 1.05;
    transition: var(--transition);
}
main{
    height: auto;
}

textarea {
    resize: none;
}

#backgroundCover{
    position: fixed;
    background-color: #15181c50;
    inset: 0;
    z-index: 10;
    display: none;
    transition: .3s ease;
}

#thanksCard{
    position: fixed;
    inset: 0;
    z-index: 20;
    display: none;
    justify-content: center;
    align-items: center;

}

#thanksCard .card{
    width: 80%;
    position: absolute;
    background-color: #ffffff;
    z-index: 100;
    max-width: 500px;
    border-radius: 5px;
    left: -500px;
    transition: .3s ease;
}

#thanksCard .card div{
    width: 90%;
    display: grid;
    justify-content: center;
    padding: 0 5%;
}

#thanksCard .card div h1{
    width: 100%;
    text-align: center;
}

#thanksCard .card div a{
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
    font-size: 1rem;
    color: #13a1c5;
}

#thanksCard.active{
    display: flex;
    bottom: 0;
}

#backgroundCover.active{
    display: block;
    overflow-y: hidden; 
}

#thanksCard .card.active{
    left: auto;
}


/*11.51*/

@media (max-width: 1123px){
    .question{
        width: 100%;
        height: 100%;
        padding: 0 5%;
    }
    
    .radioConatiner{
        width: 100%;
        height: fit-content;
        display: grid;
        font-size: 1rem;
        gap: 0;
    }

    .radioConatiner textarea{
        width: 100%;
    }

    .textareaDiv{
        width: 99%;
    }

    .questionContainer h2{
        width: 100%;
        font-size: 1.5rem;
    }


    .questionContainer{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;       
        grid-auto-rows: 1fr;             
        gap: 40px;
        height: 100%;
        margin-bottom: 30%;
    }

    main{
        height: fit-content;
        margin-bottom: 0;
        height: 118%;
    }

    form{
        height: fit-content;
    }
    



}